# Dependencies
node_modules/
.expo/
.expo-shared/

# MacOS
.DS_Store
*.pem

# Local env files
.env*.local
.env
.env.development
.env.test
.env.production

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# IDE
.vscode/
.idea/

# Build outputs
dist/
build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# iOS
ios/Pods/
ios/build/
*.ipa
*.dSYM.zip
*.dSYM

# Android
android/app/build/
android/build/
*.apk
*.aab

# Temporary files
*.log
*.swp
*.swo
*~
.tmp/
web-nginx/nestjs.rb-dev.net.fullchain.crt
